<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar">
      <ul class="navbar__list">
        <li class="navbar__about"><a href="/about">About</a></li>
        <li class="navbar__portfolio"><a href="/portfolio">Portfolio</a></li>
        <li class="navbar__blog"><a href="/blog">Blog</a></li>
      </ul>
      <div class="vertical-bar__short"></div>
      <div class="vertical-bar__long"></div>
    </nav>
    {{{body}}}
  </body>
</html>
