<!DOCTYPE html>
<html>
  <head>
    <meta charset=“UTF-8”>
    <title>Kris Hill</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <nav class="navbar">
      <div class="navbar__home"><a href="/"><img class="home-img" src="./images/Startup.png" /><span class="home-name">Kris Hill</span></a></div>
      <div class="navbar__list-wrapper">
        <ul class="navbar__list">
          <li class="navbar__about"><a href="/about">About</a></li>
          <li class="navbar__portfolio"><a href="/portfolio">Projects</a></li>
          <li class="navbar__blog"><a href="https://blog.kris-hill.com">Blog</a></li>
        </ul>
      </div>
    </nav>
      {{{body}}}

  </body>
</html>

