<div class="about-content">
    <h1 class="title">{{title}}</h1>
    <div class="item item1">
        <div class="dev-letter">D</div>    
        <div class="dev-letter">E</div>    
        <div class="dev-letter">V</div>    
        <div class="dev-letter">E</div>    
        <div class="dev-letter">L</div>    
        <div class="dev-letter">O</div>    
        <div class="dev-letter">P</div>    
        <div class="dev-letter">E</div>    
        <div class="dev-letter">R</div>    
    </div>
    <div class="item item2">
        <div class="growth-letter">G</div>
        <div class="growth-letter">R</div>
        <div class="growth-letter">O</div>
        <div class="growth-letter">W</div>
        <div class="growth-letter">T</div>
        <div class="growth-letter">H</div>
    </div>
    <div class="item item3">A BIT MORE</div>
    <div class="item item4">
        {{!-- <img src="../images/me_n_bean.JPG"> --}}
    </div>
</div>
