<div class="about-content">
    <h1 class="title">{{title}}</h1>
    <div class="item item1">DEVELOPER</div>
    <div class="item item2">GROWTH</div>
    <div class="item item3">A BIT MORE</div>
    <div class="item item4"><img src="../images/me_n_bean.JPG"></div>
</div>
