<div class="about-content">
    <h1>{{title}}</h1>
    <div class="box">DEVELOPER</div>
    <div class="box">GROWTH</div>
    <div class="box">A BIT MORE</div>
    <div class="box"><img src="../images/me_n_bean.JPG"></div>
    <p>Welcome to {{title}}</p>
</div>
