<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <h1>KH</h1>
      <ul>
        <li><a href="/about">About Me</a></li>
        <li><a href="/portfolio">Projects</a></li>
        <li><a href="/contact">Contact Me</a></li>
        <li><a href="/blog">My Notes</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
