@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

:root {
  --color-background: #EEE;
  --sans-font-stack: Rubik, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  --headline-font-stack: Pacifico, 'Playfair Display', 'Krona One', 'Merriweather Sans', serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  /* background-color: var(--color-background);
  font-family: 'Poppins'; */
}

a{
  color: #353535;
  text-decoration: none;
}

/* HOME PAGE */

.hero a{
  background: rgba(238, 238, 238, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* position: absolute; */
  z-index: 1;
  isolation: isolate;
  animation: hover 3s ease-in-out infinite;
}

.hero__finger{
  height: 200px;
  fill: #353535;
  animation: poke 2s ease-in-out infinite;
}

.hero__name{
  font-size: 7rem;
  margin-left: 2rem;
  display: inline-block;
  animation: hover-shadow 3s ease-in-out infinite;
}

.hero__name:hover{
  text-shadow: 0 0 0.5rem #6666FF;
}

@keyframes fall-in {
  0%{
    transform: translateY(-500px);
  }
  
  70%{
    transform: translateY(25px);
  }
  
  100%{
    transform: translate(0);
  }
}

@keyframes hover{
  0%, 100%{
    transform: translateY(0);
  }
  
  50%{
    transform: translateY(-10px);
  }
}

@keyframes poke{
  0%, 100%{
    transform: translate(0);
  }
  
  50%{
    transform: translateX(-25px)
  }
}

/* NAVBAR */

/* .navbar__toggle{
  display: flex;
  justify-content: flex-end;
}

.navbar{
  padding: 0 2rem;
  font-size: 5rem;
  color: #353535;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

.navbar__hamburger{
  display: none;
}

.navbar__list{
  list-style: none;
  margin-right: 3rem;
  text-align: end;
}

.navbar__about{
  animation-name: fade-in;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
  transition: letter-spacing 2s;
}

.navbar__about:hover{
  font-weight: 700;
  letter-spacing: .7rem;
}

.navbar__portfolio{
  animation-name: fade-in;
  animation-duration: 3s;
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
  transition: letter-spacing 2s;
} 

.navbar__portfolio:hover{
  font-weight: 700;
  letter-spacing: .7rem;
}

.navbar__blog{
  animation-name: fade-in;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: backwards;
  transition: letter-spacing 2s;
}

.navbar__blog:hover{
  font-weight: 700;
  letter-spacing: .7rem;
}

.vertical-bar__short{
  height: 13rem;
  width: 0.7rem;
  background: #353535;
  margin-right: 2rem;
  animation-name: descend;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.vertical-bar__long{
  height: 21rem;
  width: 0.7rem;
  background: #353535;
  margin-right: 2rem;
  animation-name: descend2;
  animation-duration: 2.5s;
  animation-delay: .5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}

@keyframes descend{
  0%{
    height: 0;
    opacity: 0;
  }
  100%{
    height: 13rem;
    opacity: 1;
  }
}

@keyframes descend2{
  0%{
    height: 0;
    opacity: 0;
  }
  
  100%{
    height: 21rem;
    opacity: 1;
  }
}

@keyframes fade-in{
  0%{
    opacity: 0;
  }
  
  100%{
    opacity: 1;
  }
} */

/* ABOUT PAGE */

.about{
  padding: 10rem 0.5rem 0 6rem;
  margin: 7rem 0 10rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 75%;
  animation-name: fade-down;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
}

.about__title{
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 10rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #353535;
  letter-spacing: -3rem;
}

.about__summary{
  width: 100%;
  padding-left: 4rem;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: justify;
  line-height: 3.5rem;
  letter-spacing: 0.2rem;
  color: #353535;
  animation-name: fade-right;
  animation-delay: 3.2s;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}

.summary__intro, .summary__body{
  margin-bottom: 2rem;
}

.me-image{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  float: left;
  shape-outside: circle(50%);
  margin-right: 2rem;
  overflow: hidden; 
  background: url('../images/me.jpg');
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
  /* position: absolute;
  bottom: 30%;
  right: 10%; */
  animation: fade-in 3s 3s ease-out;
  animation-fill-mode: backwards;
}

@keyframes fade-in{
  0%{
    opacity: 0;
    transform: translateY(10rem);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fade-down{
  0%{
    opacity: 0;
    transform: translateY(-40rem);
  }
  
  100%{
    opacity: 1;
    transform: translate(0);
  }
  
}

@keyframes fade-right{
  0%{
    opacity: 0;
    transform: translateX(-15rem);
  }
  
  100%{
    opacity: 1;
    transform: translate(0);
  }
}

/* PORTFOLIO PAGE */

/* .portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 15% 1rem 20rem 1rem;
  height: 100%;
  color: #353535;
}

.portfolio__title{
  font-size: 10rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3rem;
  text-align: center;
  line-height: 13rem;
  margin: 0 3rem 0 3rem;
  position: absolute;
  top: 3rem;
  left: 4rem;
  animation: fade-in 5s 1s ease-in-out; 
  animation-fill-mode: backwards;
}

@keyframes fade-in{
  0%{
    opacity: 0;
  }
  
  100%{
    opacity: 1;
  }
}

.portfolio__sub-title{
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 3rem;
  animation: fade-in 2s 4s ease-in-out; 
  animation-fill-mode: backwards;
}

.portfolio__sub-link{
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
  font-size: 2rem;
  transition: all 5s ease-in-out;
  animation: fade-in 2s 4.5s ease-in-out; 
  animation-fill-mode: backwards;
}

.portfolio__sub-link:hover{
  color: #6e5494;
  font-size: 2.5rem;
}

.portfolio__list{
  list-style: none;
  width: 110rem;
  height: 40rem;
  display: relative;
  z-index: 1;
}

.piece{
  flex-basis: 45%;
  height: 36rem;
  width: 44rem;
  margin: 0.5rem;
  border: solid #353535 2rem;
  box-shadow:rgba(238, 238, 238, 0.4) 0 0 3rem;
}

.piece:nth-of-type(1){
  position: relative;
  z-index: 3;
  background-color: #EEEEEE;
  animation: move-in-from-right 5s 0.5s ease-out;
  animation-fill-mode: backwards;
} 

@keyframes move-in-from-right{
  0%{
    opacity: 0;
    transform: translateX(110rem);
  }
  
  100%{
    opacity: 1;
    transform: translate(0);
  }
}

.piece:nth-of-type(2){
  position: relative;
  z-index: 2;
  top: -90%;
  left: 60%;
  background-color: #EEEEEE;
  animation: move-in-from-left 5s 0.7s ease-out;
  animation-fill-mode: backwards;
}

@keyframes move-in-from-left{
  0%{
    opacity: 0;
    transform: translateX(-110rem);
  }
  
  100%{
    opacity: 1;
    transform: translate(0);
  }
}

.piece:nth-of-type(3){
  position: relative;
  z-index: 1;
  top: -170%;
  left: 30%;
  background-color: #EEEEEE;
  animation: move-in-from-above 5s 0.3s ease-out;
  animation-fill-mode: backwards;
}

@keyframes move-in-from-above{
  0%{
    opacity: 0;
    transform: translateY(-80rem);
  }
  
  100%{
    opacity: 1;
    transform: translate(0);
  }
}

.piece:hover{
  z-index: 998;
}

/* PORTFOLIO CARD */

/* .portfolio-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  animation: fade-in 2s 4s ease-in;
  animation-fill-mode: backwards;
}

.portfolio-card__header{
  background-color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 1rem;
}

.portfolio-card__title{
  color: #EEEEEE;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  text-align: center;
  background-color: #353535;
  padding: 0 1rem;
}

.portfolio-card__links{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.github-logo, .more-info{
  width: 10rem;
  height: 8.5rem;
  fill: #353535;
  background-color: #EEEEEE;
  padding: 1rem;
}

.github-logo:hover, .more-info:hover, .body__close:hover{
  fill: #50a7f8;
  cursor: pointer;
}

.tools{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tools-title{
  margin: 1rem;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  text-align: center;
}

.tools-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 1.7rem;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
}

.tool{
  margin: 0.3rem;
  padding: 0.5rem 1rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.2rem;
  background-color: rgba(52, 89, 253, 0.4);
  border-radius: 1rem;
  flex-grow: 1;
}

.portfolio-card__body{
  font-size: 2rem;
  color: #353535;
  line-height: 3rem;
  text-align: justify;
  padding: 3rem 3rem;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
  position: absolute;
  z-index: -1;
  transform: scale(0);
  /* display: none; */
/*}

 .body__description{
  text-shadow: #aaaaaa -.1rem .1rem .2rem;
}

.body__close{
  position: absolute;
  fill: #353535;
  bottom: 2rem;
  right: 3rem;
}

.reveal{
  background-color: rgba(238, 238, 238, .97);
  z-index: 999;
  transform: scale(1);
  display: inline-block;
}

@keyframes fade-zoom-in{
  0%{
    opacity: 0;
    transform: scale(0);
  }
  
  80%{
    transform: scale(1.1);
  }
  
  90%{
    transform: scale(0.9);
  }
  
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slide-right{
  0%{
    transform: translate(0);
  }
  
  100%{
    transform: translateX(6rem);
  }
} */

/* FOOTER */

/* .footer{
  background: linear-gradient(321deg, rgba(21,0,255,1) 0%, rgba(125,63,175,1) 32%, rgba(224,101,13,1) 96%);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 20rem;
  width: 100%;
  margin-top: 5rem;
  padding: 4rem;
}

.footer__deets{
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.little{
  font-size: 1.5rem;
  letter-spacing: normal;
}

/* .footer__note, .footer__date{
  display: block;
} */

/*.footer__socials{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__icon{
  width: 6rem;
  height: 6rem;
  margin: 0 2rem;
}

.social__icon:hover{
  box-shadow: #EEEEEE 0 0 2rem;
}

.linkedin__icon:hover{
  fill: #2867B2;
  cursor: pointer;
}

.github__icon:hover{
  fill: #6e5494;
  cursor: pointer;
}

.twitter__icon:hover{
  fill: #1da1f2;
  cursor: pointer;
} */